<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("#faq-item").forEach((faqItem) => {
            let faqTrigger = faqItem.querySelector("#faq-trigger");
            let faqAnswer = faqItem.querySelector("#faq-answer");

            faqTrigger.addEventListener("click", () => {
                if (faqAnswer.classList.contains("active")) {
                    faqAnswer.classList.remove("max-h-screen");
                    faqAnswer.classList.remove("active");
                } else {
                    faqAnswer.classList.add("max-h-screen");
                    faqAnswer.classList.add("active");
                }
            });
        });
    });
</script>